{%  extends 'main.html' %}

{% block content %}

		<br>
		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Products</h5>
				</div>
				<div class="card card-body">
                    <form method="POST" >
                        {% csrf_token %}
                        <table class="table">
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Tags</th>
                            </tr>
                            <tr>
                                {% for z in form %}
                                    <th>{{z.label}}:{{ z }}</th>
                                {% endfor %}
                            </tr>
                        </table>
                        <button type="submit">submit</button>
                     </form>
				</div>
			</div>
			
		</div>

{% endblock content %}